<%= form_for(@pig) do |f| %>
  <% if @pig.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@pig.errors.count, "error") %> prohibited this pig from being saved:</h2>

      <ul>
      <% @pig.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :age %><br>
    <%= f.text_field :age %>
  </div>
  <div class="field">
    <%= f.label :gender %><br>
    <%= f.text_field :gender %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
