<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @pig.name %>
</p>

<p>
  <strong>Age:</strong>
  <%= @pig.age %>
</p>

<p>
  <strong>Gender:</strong>
  <%= @pig.gender %>
</p>

<%= link_to 'Edit', edit_pig_path(@pig) %> |
<%= link_to 'Back', pigs_path %>
